<!doctype html >
<meta http-equiv="Access-Control-Allow-Origin" content="*" />
<html ng-app="myApp">
<head>
    <base href="https://rmit-s3686930-keyu.github.io/BSB_Lookup/">
    <title>Hello AngularJS</title>
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
    <script id="s1" src="app.js"></script>
</head>

<body>
<div ng-controller="Hello">
    <p>The ID is {{greeting.id}}</p>
    <p>The content is {{greeting.content}}</p>
    <p>Your name here</p>
    <span ng-bind="data"></span> <br />
    <h2>{{ data }}</h2>
    <input type="text" ng-model="data" />
    <button type="button" ng-click="clickMe()" value="change content">change content</button>
    <br>
    <input type="text" ng-model="bsb" />
    <button type="button" ng-click="checkBsb()" >load csv</button>
    
    <h2>{{bsb_text}}</h2>
</div>
</body>
</html>
